registry=https://registry.npmmirror.com

ELECTRON_CUSTOM_DIR="{{ version }}"
electron_mirror=https://npmmirror.com/mirrors/electron/

sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=http://cnpmjs.org/downloads
sqlite3_binary_host_mirror=https://foxgis.oss-cn-shanghai.aliyuncs.com/
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
